/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    /* background: black!important;
    color: white!important; */
}
body { margin: 0; font-family: 'Roboto', sans-serif; }


.alignLeft{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.alignRight{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.alignMiddleLeft{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.width50{
    width: 50%;
}
.pull-left{
    float: left;
}